.main {
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

.list {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.item {
  height: 100%;
  width: 100%;
  // border-bottom: 2px;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.iconWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.text {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatName {
  overflow: hidden;
  text-overflow: ellipsis;
}

// .lastMessage {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   font-size: 12px;
//   font-weight: normal;
// }
